nav {
	padding; 60px 60px;
	text-align: left;
	display: inline-block;
	background-color: gray;
	position: absolute;
}
li {
    display: inline;
}

{
background-image: url(http://www.images/outerspace_landscape.jpeg);
background-size: cover;
}

.cat .dog {
height: 200px;
width: 200px;
border: 1px solid blue;
}

.greenbox {
	width: 600px;
	height: 300px;
	border: 10px dotted green;
	margin: auto;
}

.cat {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 200px;
}